# [CDAF] Atividade 3

## Nome: Thiago Pádua de Carvalho

## Matrícula: 2020007066

## Referências
- [1] https://figshare.com/collections/Soccer_match_event_dataset/4415000
- [2] https://socceraction.readthedocs.io/en/latest/api/generated/socceraction.spadl.wyscout.convert_to_actions.html
- [3] https://github.com/TomDecroos/matplotsoccer
- [4] https://soccermatics.readthedocs.io/en/latest/gallery/lesson1/plot_PlottingShots.html
- [5] https://soccermatics.readthedocs.io/en/latest/gallery/lesson1/plot_PlottingPasses.html
- [6] https://soccermatics.readthedocs.io/en/latest/gallery/lesson1/plot_PassNetworks.html

## Questão 1
- Baixe o dataset 'Wyscout Europa Top 5 2017/2018' em [1].
- Escolha uma partida e carregue os dados de eventos em um dataframe do pandas.
- Converta os dados de eventos para SPADL [2].

In [38]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import socceraction.spadl
import re

from functools import partial
from scipy import stats

O jogo escolhido é entre Liverpool e Manchester City pela Premier League 2017/2018, ocorrido em 14/01/2018.

In [23]:
matches_england = pd.read_json('../data/matches/matches_England.json')
liv_city_df = matches_england[(matches_england['label'] == 'Liverpool - Manchester City, 4 - 3')]
liv_city_id = liv_city_df.iloc[0]['wyId']
liv_city_id

2499943

In [84]:
events_england = pd.read_json('../data/events/events_England.json')
liv_city_events = events_england[(events_england['matchId'] == liv_city_id)]

In [87]:
correct_columns = {'eventId':'type_id', 'subEventName':'subtype_name', 'playerId':'player_id',
              'matchId':'game_id', 'eventName':'type_name', 'teamId':'team_id',
              'eventSec':'milliseconds', 'subEventId':'subtype_id', 'id':'event_id'
              }

liv_city_events.rename(columns=correct_columns, inplace=True)
liv_city_events['period_id'] = pd.factorize(liv_city_events['matchPeriod'])[0]+1
liv_city_events['milliseconds'] = liv_city_events['milliseconds'] * 1000  # convert to milliseconds
liv_city_events

,type_id,subtype_name,tags,player_id,positions,game_id,type_name,team_id,matchPeriod,milliseconds,subtype_id,event_id,period_id
378660,8,Simple pass,[{'id': 1801}],15808,"[{'y': 49, 'x': 49}, {'y': 41, 'x': 31}]",2499943,Pass,1612,1H,2528.085,85,220933014,1
378661,8,Simple pass,[{'id': 1801}],25393,"[{'y': 41, 'x': 31}, {'y': 70, 'x': 34}]",2499943,Pass,1612,1H,6517.082,85,220933015,1
378662,8,Simple pass,[{'id': 1801}],14870,"[{'y': 70, 'x': 34}, {'y': 41, 'x': 28}]",2499943,Pass,1612,1H,10732.865,85,220933016,1
378663,8,Simple pass,[{'id': 1801}],25393,"[{'y': 41, 'x': 28}, {'y': 50, 'x': 7}]",2499943,Pass,1612,1H,14110.714,85,220933017,1
378664,8,Launch,[{'id': 1802}],15175,"[{'y': 50, 'x': 7}, {'y': 9, 'x': 61}]",2499943,Pass,1612,1H,16587.550,84,220933018,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380531,3,Free Kick,[{'id': 1801}],15175,"[{'y': 42, 'x': 10}, {'y': 48, 'x': 67}]",2499943,Free Kick,1612,2H,2983986.610,31,220934883,2
380532,1,Air duel,"[{'id': 701}, {'id': 1802}]",15808,"[{'y': 48, 'x': 67}, {'y': 35, 'x': 73}]",2499943,Duel,1612,2H,2988693.400,10,220934885,2
380533,1,Air duel,"[{'id': 703}, {'id': 1801}]",105339,"[{'y': 52, 'x': 33}, {'y': 65, 'x': 27}]",2499943,Duel,1625,2H,2988734.839,10,220934931,2
380534,8,Launch,[{'id': 1802}],9380,"[{'y': 65, 'x': 27}, {'y': 55, 'x': 46}]",2499943,Pass,1625,2H,2990658.798,84,220934933,2
380535,8,Head pass,[{'id': 1802}],8319,"[{'y': 45, 'x': 54}, {'y': 0, 'x': 0}]",2499943,Pass,1612,2H,2993679.122,82,220934887,2

In [88]:
liv_city_spadl = socceraction.spadl.wyscout.convert_to_actions(liv_city_events, 1612)
liv_city_spadl

,game_id,period_id,time_seconds,team_id,player_id,start_x,start_y,end_x,end_y,original_event_id,bodypart_id,type_id,result_id,action_id
0,2499943,1,2.528085,1612,15808,51.45,34.68,32.55,40.12,220933014,0,0,1,0
1,2499943,1,6.517082,1612,25393,32.55,40.12,35.70,20.40,220933015,0,0,1,1
2,2499943,1,10.732865,1612,14870,35.70,20.40,29.40,40.12,220933016,0,0,1,2
3,2499943,1,14.110714,1612,25393,29.40,40.12,7.35,34.00,220933017,0,0,1,3
4,2499943,1,16.587550,1612,15175,7.35,34.00,64.05,61.88,220933018,0,0,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1406,2499943,2,2873.344410,1612,8319,23.10,58.48,23.10,58.48,220934874,0,8,1,1406
1407,2499943,2,2948.558595,1625,38021,23.10,64.60,10.50,44.20,220934929,0,3,0,1407
1408,2499943,2,2983.986610,1612,15175,10.50,39.44,70.35,35.36,220934883,0,4,1,1408
1409,2499943,2,2990.658798,1625,9380,76.65,44.20,56.70,37.40,220934933,0,0,0,1409
1410,2499943,2,2993.679122,1612,8319,56.70,37.40,0.00,68.00,220934887,1,0,0,1410

## Questão 2
- Visualize uma sequência de 5 ações da partida usando matplotsoccer.actions [3].

## Questão 3
- Visualize os chutes da partida, desenvolvendo seu código em cima do dataframe SPADL. Faça um plot para cada time. Adapte de [4].
- Qual time as melhores chances da partida? Por quê?

## Questão 4
- Escolha um jogador da partida que você escolheu.
- Faça um heatmap de todas ações dele [3].
- Faça um heatmap de todas as ações ofensivas dele [3].
- Faça um heatmap de todas as ações defensivas dele [3].
- O que você pode inferir sobre o comportamento do jogador? O comportamento dele varia muito do ataque para a defesa?

## Questão 5
- Para o mesmo jogador, crie um mapa de passes com os passes que ele efetuou na partida, desenvolvendo seu código em cima do dataframe SPADL. Adapte de [5].
- O mapa de passes trouxe alguma informação nova sobre o jogador?

## Questão 6
- Crie uma rede de passes de cada uma das equipes, desenvolvendo seu código em cima do dataframe SPADL. Adapte de [6].
- O que você consegue inferir sobre a formação de cada equipe? Quais jogadores de cada equipe possuem o maior grau (tem maior soma do peso das arestas)?